<header>
  <nav class="navbar fixed-top">
    <a href="#">
      <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo">
      <span>
        <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage">
      </span>
    </a>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a href="javascript:void(0);" class="js-search" data-close="true">
          <i class="material-icons">search</i>
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0);" class="js-search" data-close="true">
          <i class="material-icons">notifications</i>
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0);" class="js-search" data-close="true">
          <i class="material-icons">flag</i>
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0);" class="js-search" data-close="true">
          <i class="material-icons">more_vert</i>
        </a>
      </li>
    </ul>
  </nav>
</header>
