<div class="menu">
  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 504px;"><ul class="list" style="overflow: hidden; width: auto; height: 504px;">
      <li class="header">MAIN NAVIGATION</li>
      <li class="active">
          <a href="index.html" class="toggled waves-effect waves-block">
              <i class="material-icons">home</i>
              <span>Home</span>
          </a>
      </li>
      <li>
          <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
              <i class="material-icons">widgets</i>
              <span>Widgets</span>
          </a>
          <ul class="ml-menu">
              <li>
                  <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                      <span>Cards</span>
                  </a>
                  <ul class="ml-menu">
                      <li>
                          <a href="pages/widgets/cards/basic.html" class=" waves-effect waves-block">Basic</a>
                      </li>
                      <li>
                          <a href="pages/widgets/cards/colored.html" class=" waves-effect waves-block">Colored</a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                      <span>Infobox</span>
                  </a>
                  <ul class="ml-menu">
                      <li>
                          <a href="pages/widgets/infobox/infobox-1.html" class=" waves-effect waves-block">Infobox-1</a>
                      </li>
                      <li>
                          <a href="pages/widgets/infobox/infobox-2.html" class=" waves-effect waves-block">Infobox-2</a>
                      </li>
                  </ul>
              </li>
          </ul>
      </li>
      <li>
          <a href="pages/changelogs.html" class=" waves-effect waves-block">
              <i class="material-icons">update</i>
              <span>Changelogs</span>
          </a>
      </li>
      <li class="header">LABELS</li>
      <li>
          <a href="javascript:void(0);" class=" waves-effect waves-block">
              <i class="material-icons col-red">donut_large</i>
              <span>Important</span>
          </a>
      </li>
      <li>
          <a href="javascript:void(0);" class=" waves-effect waves-block">
              <i class="material-icons col-amber">donut_large</i>
              <span>Warning</span>
          </a>
      </li>
      <li>
          <a href="javascript:void(0);" class=" waves-effect waves-block">
              <i class="material-icons col-light-blue">donut_large</i>
              <span>Information</span>
          </a>
      </li>
  </ul><div class="slimScrollBar" style="background: rgba(0, 0, 0, 0.5); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 273.135px;"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
</div>
