.page-titles {
  background: #ffffff;
  margin: 0 -30px 15px;
  padding: 15px;
  -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}

.page-titles .breadcrumb-title {
  line-height: 30px;
  font-size: 21px;
  color: #1e88e5;
}

.page-titles .breadcrumb {
  padding: 0px;
  background: transparent;
  font-size: 14px;
  margin-bottom: 0px;
}
